.card {
    width: calc(100vw - 340px);
    min-height: 60px;
    background: var(--Ga1_u);
    border-bottom: 1px solid var(--Ga2_u);
    display: flex;
    align-items: center;
    .room-name{
        padding-left: 20px;
        flex: 1;
        font-size: 20px;
        font-weight: 500;
    }
    .edit {
        background-color: var(--Ga1_u);
        .icon {
            width: 25px;
            height: 25px;
            border: 0;
            outline: 0;
            background: transparent;
            cursor: pointer;
            transition: 0.2s;
        }
    
        .icon:hover {
            background-color: var(--Ga2_u);
        }
    }
}








